@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Thasadith');

/* Global Variables */
:root {
  --background: rgba(32, 32, 32, 0.75);
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* - - - Page Styles - - - */

body {
  padding: 0;
  margin: 0;
}

.page-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #E0E2E4;
  background: #293134;
}

.content {
  padding: 10px;
  flex: 1 0 auto;
}

/* - - - Element Styles - - - */

.code {
  color: #ec7600;
}

.code-string {
	border: 1px solid #808080;
	border-radius: 5px;
	padding: 1px 2px 1px 2px;
	color: #202020;
	background: #ABABAB;
}

.code-block {
	border: 1px solid #808080;
	border-radius: 5px;
	padding: 1px 2px 1px 2px;
	color: #E0E2E4;
	background: #293134;
	overflow: auto;
	white-space: nowrap;
}

.update-block {
	border: 1px solid #808080;
	border-radius: 5px;
	padding: 1px 2px 1px 2px;
	color: #E0E2E4;
	overflow: auto;
	background: #303030;
	white-space: normal;
}

table {
    border-collapse: collapse;
}

tr {
	font-size: 1.5vw;
  font-weight: normal;
  text-align: left;
  color: #E0E2E4;
}

/* - - - Custom Styles - - - */

.json-string {
	font-family: 'Cutive Mono', monospace;
	color: #ec7600;
}

.json-keyword {
	font-family: 'Cutive Mono', monospace;
	color: #93C763;
}

.page-title {
  font-family: 'Cutive Mono', monospace;
  font-weight: normal;
  color: #E0E2E4;
  text-align: center;
	font-size: 4vw;
}

.page-section {
  font-family: 'Cutive Mono', monospace;
  font-weight: normal;
  color: #E0E2E4;
  padding-left: 10%;
  font-size: 3vw;
}

.page-title-block {
  padding: 5px;
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  
  text-align: center;
  background: #202020;
  
  border: 1px solid #808080;
  border-radius: 5px;
  
  font-family: 'Cutive Mono', monospace;
  font-size: 2vw;
}

.page-section-block {
  padding: 5px;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  
  background: #202020;
  
  border: 1px solid #808080;
  border-radius: 5px;
  
  font-family: 'Cutive Mono', monospace;
  font-size: 1.5vw;
}

.field{
  color: #678cb1;
}

.link {
	text-decoration: none;
	font-weight: bold;
	font-style: italic;
	color: #E0E2E4;
}

.social-button {
	text-decoration: none;
	margin-left: 1%;
}

.social-image {
	width: 5vw;
	height: 5vw;
}

.command-tr td {
	 padding: 5px;
}

.command-tr:hover {
	background: #293134;
	border: 1px solid #808080;
	border-radius: 5px;
}

/* - - - Form Styles - - - */
.page-form-input {
	color: #E0E2E4;
	background: #293134;
	font-family: 'Cutive Mono', monospace;
	border: 1px solid #808080;
	border-radius: 5px;
}

.page-form-button {
	color: #678cb1;
	background: #293134;
	padding: 10px 20px 10px 20px;
	border: 1px solid #808080;
	border-radius: 5px;
}

.page-form-button:hover {
	color: #E0E2E4;
	background: #808080;
}

input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=checkbox] {
  margin-top: 16px;
}

input[type=submit] {
  background-color: #293134;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}

/* - - - Navigation Styles - - - */

.nav-bar {
  height: 100px;
  display: flex;
  
  background: #202020;
  
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  
  font-family: 'Thasadith';
  font-weight: normal;
  font-size: 1.5em;
  
  border-bottom: 1px solid #808080;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-right: 40px;
}

.nav-item {
  float: left;
}

.nav-link.active {
  color: #ec7600;
}

.nav-link.active:hover {
  color: #678cb1;
}

.nav-link {
  display: block;
  text-align: center;
  margin-left: 1px;
  margin-right: 1px;
  color: #E0E2E4;
  text-decoration: none;
  font-weight: bold;
  padding: 2em 1em 2em 1em;
}

.nav-link:hover {
	color: #678cb1;
}

.nav-link::before {
	content: '';
	display: block;
	height: 5px;
	background-color: #678cb1;
	width: 0%;
	
	transition: all ease-in-out 150ms;
}

.nav-link:hover::before {
	color: #EC7600;
	width: 100%;
}

@media only screen and (max-width: 786px) {
	
	.social-button {
		width: 50px;
		height: 50px;
	}
	
	.social-image {
		width: 10vw;
		height: 10vw;
	}
	
	.page-title {
		text-align: center;
		font-size: 7vw;
	}
	
	.page-section {
		padding-left: 0;
		text-align: center;
		font-size: 6vw;
	}
	
	.page-title-block {
		margin-left: 10%;
		margin-right: 10%;
		width: 80%;
		font-size: 5vw;
	}
	
	.page-section-block {
		margin-left: 5%;
		margin-right: 5%;
		width: 90%;
		font-size: 4vw;
	}
  
  .nav-bar {
    justify-content: center;
  }
  
  .nav-links {
    position: fixed;
    display: flex;
    bottom: 0px;
    margin: 0;
    background: #202020;
    width: 100%;
    padding: 5px;
    justify-content: center;
    height: 40px;
    align-items: center;
    border-top: 1px solid #808080;
  }
	
	.nav-link {
		display: block;
		text-align: center;
		color: #E0E2E4;
		text-decoration: none;
		font-weight: bold;
		padding: 1em;
	}
	
	td {
		font-size: 3vw;
	}
  
}