@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Thasadith');

/* Global Variables */
:root {
  --background: rgba(32, 32, 32, 0.75);
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* - - - Page Styles - - - */

body {
  padding: 0;
  margin: 0;
}

small {
    display: flex;
    justify-content: center;
    font-family: 'Cutive Mono', monospace;
    color: #E0E2E4;
    background: #293134;
}

.page-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #E0E2E4;
  background: #293134;
}

.content {
  padding: 10px;
  flex: 1 0 auto;
}

/* - - - Custom Scrollbar - - - */

::-webkit-scrollbar {
	width: 15px;
	background-color: #293134;
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
	border: 1px solid #808080;
	background-color: #202020;
}

::-webkit-scrollbar-track {
	border-radius: 5px;
	background-color: #293134;
}

/* - - - Form Styles - - - */

.page-form-input {
	color: #E0E2E4;
	background: #293134;
	font-family: 'Cutive Mono', monospace;
	border: 1px solid #808080;
	border-radius: 5px;
}

.page-form-text-area {
	white-space: pre;
	resize: none;
	width: 100%;
	height: 200px;
	color: #E0E2E4;
	background: #293134;
	font-family: 'Cutive Mono', monospace;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.page-form-button {
	color: #678cb1;
	background: #293134;
	padding: 10px 20px 10px 20px;
	border: 1px solid #808080;
	border-radius: 5px;
}

.page-form-button:hover {
	color: #E0E2E4;
	background: #808080;
}

input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=checkbox] {
  margin-top: 16px;
}

input[type=submit] {
  background-color: #293134;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}

/* - - - Element Styles - - - */

.code {
  color: #ec7600;
	text-align: left;
}

.code-string {
	border: 1px solid #808080;
	border-radius: 5px;
	padding: 1px 2px 1px 2px;
	color: #202020;
	background: #ABABAB;
	text-align: left;
}

.code-block {
	border: 1px solid #808080;
	border-radius: 5px;
	padding: 1px 2px 1px 2px;
	color: #E0E2E4;
	background: #293134;
	overflow: auto;
	white-space: nowrap;
	text-align: left;
}

.update-block {
	border: 1px solid #808080;
	border-radius: 5px;
	padding: 1px 2px 1px 2px;
	color: #E0E2E4;
	overflow: auto;
	background: #303030;
	white-space: normal;
}

.parameter-title {
	font-weight: bold;
}

tr {
	font-size: 1em;
  font-weight: normal;
  text-align: left;
  color: #E0E2E4;
}

/* - - - Custom Styles - - - */

.json-string {
	font-family: 'Cutive Mono', monospace;
	color: #ec7600;
}

.json-keyword {
	font-family: 'Cutive Mono', monospace;
	color: #93C763;
}

.page-title {
  font-family: 'Cutive Mono', monospace;
  font-weight: normal;
  color: #E0E2E4;
  text-align: center;
	font-size: 4vw;
}

.page-section {
  font-family: 'Cutive Mono', monospace;
  font-weight: normal;
  color: #E0E2E4;
  padding-left: 10%;
  font-size: 3vw;
}

.page-title-block {
  padding: 5px;
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  
  text-align: center;
  background: #202020;
  
  border: 1px solid #808080;
  border-radius: 5px;
  
  font-family: 'Cutive Mono', monospace;
  font-size: 2vw;
}

.page-section-block {
  padding: 5px;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  
  background: #202020;
  
  border: 1px solid #808080;
  border-radius: 5px;
  
  font-family: 'Cutive Mono', monospace;
  font-size: 1.5vw;
}

.field {
  color: #678cb1;
}

.link {
	text-decoration: none;
	font-weight: bolder;
	font-style: italic;
	color: #E0E2E4;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.link:hover {
	color: #EC7600;
}

.social-button {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	text-decoration: none;
	margin-left: 1%;
}

.social-button:before {
	pointer-events: none;
	position: absolute;
	z-index: 1;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 0;
	background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 80%);
	background: radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform, opacity;
	transition-property: transform, opacity;
}

.social-button:hover, .social-button:focus, .social-button:active {
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}

.social-button:hover:before, .social-button:focus:before, .social-button:active:before {
	opacity: 1;
}

.social-image, .icon-image {
	width: 5vw;
	height: 5vw;
}

/* - - - Download Link Styles - - - */

.download-table {
	border-collapse: collapse;
	width: 100%;
}

.download-table p {
	font-size: 1.5vw;
}

.download-table td, .download-table th {
	border: 1px solid #808080;
	text-align: center;
}

.download-table tr:first-child th {
	border-top: 0;
}

.download-table tr:last-child td {
	border-bottom: 0;
}

.download-table tr td:first-child,
.download-table tr th:first-child {
	border-left: 0;
}

.download-table tr td:last-child,
.download-table tr th:last-child {
	border-right: 0;
}

/* - - - Navigation Styles - - - */

.nav-bar {
	position: -webkit-sticky;
	position: sticky;
	  top: 0;
  height: 100px;
  display: flex;
	z-index: 99;
  
  background: #202020;
  
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  
  font-family: 'Thasadith';
  font-weight: normal;
  font-size: 1.5em;
  
  border-bottom: 1px solid #808080;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-right: 40px;
}

.nav-item {
	float: left;
}

.nav-link.active {
  color: #ec7600;
}

.nav-link.active:hover {
  color: #678cb1;
}

/*
.nav-link {
  display: inline-block;
  text-align: center;
  margin-left: 1px;
  margin-right: 1px;
  color: #E0E2E4;
  text-decoration: none;
  font-weight: bold;
  padding: 2em 1em 2em 1em;
}

.nav-link:hover {
	color: #678cb1;
}

.nav-link::before {
	content: '';
	display: block;
	vertical-align: bottom;
	height: 5px;
	background-color: #678cb1;
	width: 0%;
	
	transition: all ease-in-out 150ms;
}

.nav-link:hover::before {
	color: #EC7600;
	width: 100%;
}
*/

#nav-toggle input {
	opacity: 0;
}

.nav-link {
	position: relative;
	display: inline-block;
	margin: 15px 25px;
	outline: none;
	color: #E0E2E4;
	text-decoration: none;
	font-weight: bold;
	padding: 8px 0;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.nav-link:hover {
	color: #678cb1;
}

.nav-link::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 4px;
	background: rgba(103, 140, 177, 1.0);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-20px);
	-moz-transform: translateY(-20px);
	transform: translateY(-20px);
}

.nav-link:hover::after,
.nav-link:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

@media only screen and (max-width: 786px) {
	
	.download-table p {
		font-size: 3vw;
	}
	
	.download-table .link {
		font-size: 3vw;
	}
	
	.social-button {
		width: 50px;
		height: 50px;
	}
	
	.social-image {
		width: 6vw;
		height: 6vw;
	}
	
	.icon-image {
		width: 20%;
		height: auto;
	}
	
	.page-title {
		text-align: center;
		font-size: 7vw;
	}
	
	.page-section {
		padding-left: 0;
		text-align: center;
		font-size: 6vw;
	}
	
	.page-title-block {
		margin-left: 10%;
		margin-right: 10%;
		width: 80%;
		font-size: 5vw;
	}
	
	.page-section-block {
		margin-left: 5%;
		margin-right: 5%;
		width: 90%;
		font-size: 4vw;
	}
	
	#nav-toggle {
		display: block;
		position: absolute;
		vertical-align: middle;
		left: 25px;
		z-index: 1;

		-webkit-user-select: none;
		user-select: none;
	}

	#nav-toggle input {
		display: block;
		width: 40px;
		height: 32px;
		position: absolute;
		top: -20px;
		left: -7px;

		cursor: pointer;

		opacity: 0;
		z-index: 2;

		-webkit-touch-callout: none;
	}

	#nav-toggle span {
		display: block;
		width: 33px;
		height: 4px;
		margin-bottom: 5px;
		position: relative;
		
		background: #678cb1;
		border-radius: 3px;
		
		z-index: 1;
		
		transform-origin: 4px 0px;
		
		transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1.0),
						background 0.3s cubic-bezier(0.77, 0.2, 0.05, 1.0),
						opacity 0.3s ease;
	}
	
	#nav-toggle span:first-child {
		transform-origin: 0% 0%;
	}
	
	#nav-toggle span:nth-last-child(2) {
		transform-origin: 0% 100%;
	}
	
	#nav-toggle input:checked ~ span {
		opacity: 1;
		transform: rotate(-45deg) translate(-8px, 4px) scale(0.7, 1);
		background: #ec7600;
	}
	
	#nav-toggle input:checked ~ span:nth-last-child(3) {
		opacity: 1;
		transform: rotate(0deg);
	}
	
	#nav-toggle input:checked ~ span:nth-last-child(2) {
		transform: rotate(45deg) translate(-7px, -6px) scale(0.7, 1);
	}
  
  .nav-bar {
    justify-content: center;
  }
  
  .nav-links {
    position: absolute;
	  width: 250px;
	  margin: -100px 0 00 -50px;
	  padding: 50px;
	  padding-top: 125px;
	  background: #202020;
	  
	  list-style-type: none;
	  -webkit-font-smoothing: antialiased;
	  
	  border: 1px solid #808080;
	  border-radius: 5px;
	  
	  transform-origin: 0% 0%;
	  transform: translate(-100%, 0);
	  
	  transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  }
	
	.nav-link {
		padding: 10px 0;
		font-size: 1em;
	}
	
	#nav-toggle input:checked ~ ul {
		transform: none;
	}
  
}