
<html>

    
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles.css" rel="stylesheet" type="text/css">

    
    <meta property="theme-color" content="#EC7600" />
    <meta property="og:title" content="website.commands();" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://omegapsi.fellowhashbrown.com/" />
    <meta property="og:image" content="https://i.imgur.com/Hy5Gyut.png" />

    <meta property="og:description" content="below is a list of commands in omega psi and what they do." />
    <meta property="og:site_name" content="Omega Psi" />
    <title>Omega Psi</title>
    

    <link rel="shortcut icon" href="{{ url_for('static', filename='/favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='/safari-pinned-tab.svg') }}" color="#202020">
    <meta name="msapplication-TileColor" content="#202020">
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='/mstile-144x144.png') }}">
    <meta name="theme-color" content="#202020">
    <meta name="msapplication-config" content="{{ url_for('static', filename='/browserconfig.xml') }}">
</head>


    <body>
        <div class="page-body">

            <!-- Navigation Bar -->
            <nav class="nav-bar">
                <img src="https://i.imgur.com/Hy5Gyut.png" class="social-image" style="width: 50px; height: 50px;">
                <ul class="nav-links">
                    
                <li class="nav-item">
                    <a class="nav-link" href="/">home</a>
                </li>

                
                <li class="nav-item">
                    <a class="nav-link active" href="/commands">commands</a>
                </li>

                
                <li class="nav-item">
                    <a class="nav-link" href="https://www.fellowhashbrown.com">website</a>
                </li>

                
                </ul>
            </nav>

            <!-- Content -->
            <div class="content">
                
                <h1 class="page-title">
                    <code class="field">website</code><code>.</code><code class="field">commands</code><code>();</code>
                </h1>

                <div class="page-title-block" style="max-width: 75%;">
                    <p style="text-align: center;">
                        below is a list of commands in omega psi and what they do.
                    </p>
                </div>

                
                <h2 class="page-section">
                    <a name="key"></a>
                    <code class="field">page</code><code>.</code><code class="field">key</code><code>();</code>
                </h2>
                <div class="page-section-block" style="text-align: center;">
                    
            <table class="command-table" style="width: 100%;">
                
                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code style="color: #FF0080;">red command</code></td>
                    <td style="width: 100%; text-align: center;">Any of these commands can only be run in NSFW channels or Private DMs.</td>
                </tr>

                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code style="color: #EC7600;">orange command</code></td>
                    <td style="width: 100%; text-align: center;">These commands can only be run in servers.</td>
                </tr>

                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code style="color: #CDCD00;">yellow command</code></td>
                    <td style="width: 100%; text-align: center;">These commands can only be run in NSFW channels in servers.</td>
                </tr>

                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code style="color: #678CB1;">blue command</code></td>
                    <td style="width: 100%; text-align: center;">These commands can only be run by bot developers.</td>
                </tr>

                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code style="color: #80ff80;">green command</code></td>
                    <td style="width: 100%; text-align: center;">These commands can only be run by people who have manage server permissions in a server.</td>
                </tr>

                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code style="color: #EEEEEE;">white command</code></td>
                    <td style="width: 100%; text-align: center;">These are just regular commands and can be run anywhere!</td>
                </tr>

                

            </table>
            
                </div>
                

                <h2 class="page-section">
                    <a name="Code"></a>
                    <code class="field">page</code><code>.</code><code class="field">Code</code><code>();</code>
                </h2>
                <div class="page-section-block" style="text-align: center;">
                    
            <table class="command-table" style="width: 100%;">
                
                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>execute</code></td>
                    <td style="width: 100%; text-align: center;">Allows you to run code from a slew of languages. There are no parameters. You just run the command.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>convert</code></td>
                    <td style="width: 100%; text-align: center;">Allows you to convert numbers from one base to another.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>base64</code></td>
                    <td style="width: 100%; text-align: center;">Allows you to encode/decode text into/from Base64 encoding.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>morse</code></td>
                    <td style="width: 100%; text-align: center;">Allows you to encode/decode text into/from Morse Code.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>qrCode</code></td>
                    <td style="width: 100%; text-align: center;">Allows you to create a QR code out of text.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>logic</code></td>
                    <td style="width: 100%; text-align: center;">Allows you to get a truth table for a logical expression.</td>
                </tr>

                <tr>
                </tr>
                

            </table>
            
                </div>
                

                <h2 class="page-section">
                    <a name="Math"></a>
                    <code class="field">page</code><code>.</code><code class="field">Math</code><code>();</code>
                </h2>
                <div class="page-section-block" style="text-align: center;">
                    
            <table class="command-table" style="width: 100%;">
                
                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>simplify</code></td>
                    <td style="width: 100%; text-align: center;">Simplifies a mathematical expression.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>factor</code></td>
                    <td style="width: 100%; text-align: center;">Attempts to factor a mathematical expression.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>derivative</code></td>
                    <td style="width: 100%; text-align: center;">Attempts to take the derivative of a mathematical expression.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>integral</code></td>
                    <td style="width: 100%; text-align: center;">Attempts to integrate a mathematical expression.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>zeroes</code></td>
                    <td style="width: 100%; text-align: center;">Attempts to find the zeroes of a mathematical expression.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>cosine</code></td>
                    <td style="width: 100%; text-align: center;">Attempts to get the cosine of a value.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>sine</code></td>
                    <td style="width: 100%; text-align: center;">Attempts to get the sine of a value.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>tangent</code></td>
                    <td style="width: 100%; text-align: center;">Attempts to get the tangent of a value.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>arccosine</code></td>
                    <td style="width: 100%; text-align: center;">Attempts to get the inverse cosine of a value.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>arcsine</code></td>
                    <td style="width: 100%; text-align: center;">Attempts to get the inverse sine of a value.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>arctangent</code></td>
                    <td style="width: 100%; text-align: center;">Attempts to get the inverse tangent of a value.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>absolute</code></td>
                    <td style="width: 100%; text-align: center;">Attempts to get the absolute value of a value.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>tangentLine</code></td>
                    <td style="width: 100%; text-align: center;">Attempts to find the tangent line of a function at a given value x.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>areaUnderCurve</code></td>
                    <td style="width: 100%; text-align: center;">Attempts to find the area underneath a curve.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>logarithm</code></td>
                    <td style="width: 100%; text-align: center;">Finds the logarithm of a number. Default base is 10</td>
                </tr>

                <tr>
                </tr>
                

            </table>
            
                </div>
                

                <h2 class="page-section">
                    <a name="Game"></a>
                    <code class="field">page</code><code>.</code><code class="field">Game</code><code>();</code>
                </h2>
                <div class="page-section-block" style="text-align: center;">
                    
            <table class="command-table" style="width: 100%;">
                
                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>gamestats</code></td>
                    <td style="width: 100%; text-align: center;">Gets the stats of someone you specify, or yourself, of all mini-games in the bot.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>hangman</code></td>
                    <td style="width: 100%; text-align: center;">Allows you to play a Hangman game.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>scramble</code></td>
                    <td style="width: 100%; text-align: center;">Allows you to play Scramble game.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>rps</code></td>
                    <td style="width: 100%; text-align: center;">Allows you to play Rock Paper Scissors.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>trivia</code></td>
                    <td style="width: 100%; text-align: center;">Allows you to play a trivia game where you can decide how many questions to answer (Max 30. Default 10).</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>ticTacToe</code></td>
                    <td style="width: 100%; text-align: center;">Allows you to play a game of Tic Tac Toe with the AI or a person who reacts to it.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>connectFour</code></td>
                    <td style="width: 100%; text-align: center;">Allows you to play a game of Connect Four with the AI or a person who reacts to it.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code style="color: #EC7600;">uno</code></td>
                    <td style="width: 100%; text-align: center;">Allows you to play a game of Uno with other people.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code style="color: #CDCD00;">cardsAgainstHumanity</code></td>
                    <td style="width: 100%; text-align: center;">Allows you to play Cards Against Humanity with other people.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>addHangman</code></td>
                    <td style="width: 100%; text-align: center;">Allows you to add a custom hangman phrase.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code style="color: #678CB1;">pendingHangman</code></td>
                    <td style="width: 100%; text-align: center;">Allows you to see the pending hangman phrases.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code style="color: #678CB1;">approveHangman</code></td>
                    <td style="width: 100%; text-align: center;">Allows you to approve a pending hangman phrase.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code style="color: #678CB1;">denyHangman</code></td>
                    <td style="width: 100%; text-align: center;">Allows you to deny a pending hangman phrase.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>addScramble</code></td>
                    <td style="width: 100%; text-align: center;">Allows you to add a custom scramble phrase.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code style="color: #678CB1;">pendingScramble</code></td>
                    <td style="width: 100%; text-align: center;">Allows you to see the pending scramble phrases.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code style="color: #678CB1;">addScrambleHint</code></td>
                    <td style="width: 100%; text-align: center;">Allows you to add a hint for a scramble phrase.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code style="color: #678CB1;">approveScramble</code></td>
                    <td style="width: 100%; text-align: center;">Allows you to approve a pending scramble phrase.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code style="color: #678CB1;">denyScramble</code></td>
                    <td style="width: 100%; text-align: center;">Allows you to deny a pending scramble phrase.</td>
                </tr>

                <tr>
                </tr>
                

            </table>
            
                </div>
                

                <h2 class="page-section">
                    <a name="Internet"></a>
                    <code class="field">page</code><code>.</code><code class="field">Internet</code><code>();</code>
                </h2>
                <div class="page-section-block" style="text-align: center;">
                    
            <table class="command-table" style="width: 100%;">
                
                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>movie</code></td>
                    <td style="width: 100%; text-align: center;">Gives you information about a Movie on IMDb.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>tvShow</code></td>
                    <td style="width: 100%; text-align: center;">Gives you information about a TV Show on IMDb.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>xkcd</code></td>
                    <td style="width: 100%; text-align: center;">Sends an XKCD comic with the specified number or sends a random one.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>dc</code></td>
                    <td style="width: 100%; text-align: center;">Allows you to search up and get info about a DC character.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>marvel</code></td>
                    <td style="width: 100%; text-align: center;">Allows you to search up and get info about a Marvel character.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>shortenUrl</code></td>
                    <td style="width: 100%; text-align: center;">Shortens a URL given.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>weather</code></td>
                    <td style="width: 100%; text-align: center;">Shows you the current weather for a specific place.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>forecast</code></td>
                    <td style="width: 100%; text-align: center;">Shows you the forecaset for the next 7 days for a specific place.</td>
                </tr>

                <tr>
                </tr>
                

            </table>
            
                </div>
                

                <h2 class="page-section">
                    <a name="Image"></a>
                    <code class="field">page</code><code>.</code><code class="field">Image</code><code>();</code>
                </h2>
                <div class="page-section-block" style="text-align: center;">
                    
            <table class="command-table" style="width: 100%;">
                
                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code style="color: #FF0080;">meme</code></td>
                    <td style="width: 100%; text-align: center;">Sends you a random meme from reddit.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>imgur</code></td>
                    <td style="width: 100%; text-align: center;">Allows you to upload an image to an anonymous imgur album.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>dog</code></td>
                    <td style="width: 100%; text-align: center;">Sends a random picture of a random dog from the internet.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>cat</code></td>
                    <td style="width: 100%; text-align: center;">Sends a random picture of a random cat from the internet.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>avatar</code></td>
                    <td style="width: 100%; text-align: center;">Sends a random cute avatar.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>robohash</code></td>
                    <td style="width: 100%; text-align: center;">Sends a robohash avatar based off the text you enter.</td>
                </tr>

                <tr>
                </tr>
                

            </table>
            
                </div>
                

                <h2 class="page-section">
                    <a name="Insults"></a>
                    <code class="field">page</code><code>.</code><code class="field">Insults</code><code>();</code>
                </h2>
                <div class="page-section-block" style="text-align: center;">
                    
            <table class="command-table" style="width: 100%;">
                
                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>insult</code></td>
                    <td style="width: 100%; text-align: center;">Allows you to insult someone or be insulted.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>addInsult</code></td>
                    <td style="width: 100%; text-align: center;">Allows you to add an insult to the bot.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code style="color: #678CB1;">pendingInsults</code></td>
                    <td style="width: 100%; text-align: center;">Shows a list of pending insults.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code style="color: #678CB1;">addInsultTag</code></td>
                    <td style="width: 100%; text-align: center;">Adds a tag, or tags, to an insult specified.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code style="color: #678CB1;">approveInsult</code></td>
                    <td style="width: 100%; text-align: center;">Approves the specified insult.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code style="color: #678CB1;">denyInsult</code></td>
                    <td style="width: 100%; text-align: center;">Denies the specified insult.</td>
                </tr>

                <tr>
                </tr>
                

            </table>
            
                </div>
                

                <h2 class="page-section">
                    <a name="Misc"></a>
                    <code class="field">page</code><code>.</code><code class="field">Misc</code><code>();</code>
                </h2>
                <div class="page-section-block" style="text-align: center;">
                    
            <table class="command-table" style="width: 100%;">
                
                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>advice</code></td>
                    <td style="width: 100%; text-align: center;">Gives you a random piece of advice.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>chuckNorris</code></td>
                    <td style="width: 100%; text-align: center;">Gives you a random Chuck Norris joke.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>color</code></td>
                    <td style="width: 100%; text-align: center;">Gives you the information about a color given the HEX code.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>dadJoke</code></td>
                    <td style="width: 100%; text-align: center;">Gives you a random dad joke.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>emojify</code></td>
                    <td style="width: 100%; text-align: center;">Gives you text but in Emoji style.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>todayInHistory</code></td>
                    <td style="width: 100%; text-align: center;">Shows you a random fact about something that happened today in history.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>llamas</code></td>
                    <td style="width: 100%; text-align: center;">Gives you a random quote from Llamas With Hats. You can also get the full script of an episode by adding "script" to the end of the command.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>numberFact</code></td>
                    <td style="width: 100%; text-align: center;">Gives you a fact about a number.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>setEmbedColor</code></td>
                    <td style="width: 100%; text-align: center;">Sets the color of the embed for all embeds that are sent. If you call the command with no HEX code, the color will be reset to the default.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>tronaldDumpQuote</code></td>
                    <td style="width: 100%; text-align: center;">Gives you a random quote from Donald Trump.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code style="color: #EC7600;">guildInfo</code></td>
                    <td style="width: 100%; text-align: center;">Gives you info about this guild.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code style="color: #EC7600;">userInfo</code></td>
                    <td style="width: 100%; text-align: center;">Gives you info about a member in this guild.</td>
                </tr>

                <tr>
                </tr>
                

            </table>
            
                </div>
                

                <h2 class="page-section">
                    <a name="Nsfw"></a>
                    <code class="field">page</code><code>.</code><code class="field">Nsfw</code><code>();</code>
                </h2>
                <div class="page-section-block" style="text-align: center;">
                    
            <table class="command-table" style="width: 100%;">
                
                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code style="color: #FF0080;">boobs</code></td>
                    <td style="width: 100%; text-align: center;">Sends a random picture of a nice set of tits.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code style="color: #FF0080;">booty</code></td>
                    <td style="width: 100%; text-align: center;">Sends a random picture of a nice ass.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code style="color: #FF0080;">lesbian</code></td>
                    <td style="width: 100%; text-align: center;">Get some of that lesbian action.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code style="color: #FF0080;">goneWild</code></td>
                    <td style="width: 100%; text-align: center;">Girls gone wild.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code style="color: #FF0080;">urban</code></td>
                    <td style="width: 100%; text-align: center;">Gives you the top 5 urban dictionary entries for a term.</td>
                </tr>

                <tr>
                </tr>
                

            </table>
            
                </div>
                

                <h2 class="page-section">
                    <a name="Stats"></a>
                    <code class="field">page</code><code>.</code><code class="field">Stats</code><code>();</code>
                </h2>
                <div class="page-section-block" style="text-align: center;">
                    
            <table class="command-table" style="width: 100%;">
                
                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>blackOps3</code></td>
                    <td style="width: 100%; text-align: center;">Gives you stats on a specific player in Black Ops 3.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>blackOps4</code></td>
                    <td style="width: 100%; text-align: center;">Gives you stats on a specific player in Black Ops 4.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>fortnite</code></td>
                    <td style="width: 100%; text-align: center;">Gives you stats on a specific player in Fortnite.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>league</code></td>
                    <td style="width: 100%; text-align: center;">Gives you stats on a specific Summoner in League of Legends.</td>
                </tr>

                <tr>
                </tr>
                

            </table>
            
                </div>
                

                <h2 class="page-section">
                    <a name="Bot"></a>
                    <code class="field">page</code><code>.</code><code class="field">Bot</code><code>();</code>
                </h2>
                <div class="page-section-block" style="text-align: center;">
                    
            <table class="command-table" style="width: 100%;">
                
                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code style="color: #678CB1;">newTheme</code></td>
                    <td style="width: 100%; text-align: center;">Adds a new theme of the day for the bot. Date is in MMDD format.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code style="color: #678CB1;">suggestions</code></td>
                    <td style="width: 100%; text-align: center;">Shows all suggestions made or a specific suggestion.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>suggest</code></td>
                    <td style="width: 100%; text-align: center;">If you feel like something could be improved on in this bot, please suggest it!</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code style="color: #678CB1;">bugs</code></td>
                    <td style="width: 100%; text-align: center;">Shows all bug reports made or a specific bug report.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>bug</code></td>
                    <td style="width: 100%; text-align: center;">Is there a bug or something in the bot? Use this! Give a decent description so I know what to look for!</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code style="color: #678CB1;">servers</code></td>
                    <td style="width: 100%; text-align: center;">Shows you a list of servers that Omega Psi is in.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code style="color: #678CB1;">restart</code></td>
                    <td style="width: 100%; text-align: center;">Allows you to restart the bot.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code style="color: #678CB1;">kill</code></td>
                    <td style="width: 100%; text-align: center;">Stops the bot and logs out.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>update</code></td>
                    <td style="width: 100%; text-align: center;">Shows you information about the most recent update to the bot and the pending update if any.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>pendingUpdate</code></td>
                    <td style="width: 100%; text-align: center;">Shows you information about the current pending.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code style="color: #678CB1;">createUpdate</code></td>
                    <td style="width: 100%; text-align: center;">Creates a new pending update to the bot.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code style="color: #678CB1;">createFix</code></td>
                    <td style="width: 100%; text-align: center;">Adds a fix to the pending update.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code style="color: #678CB1;">createFeature</code></td>
                    <td style="width: 100%; text-align: center;">Adds a feature to the pending update.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code style="color: #678CB1;">commitUpdate</code></td>
                    <td style="width: 100%; text-align: center;">Commits the pending update as a new update.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>todo</code></td>
                    <td style="width: 100%; text-align: center;">Allows you to add, remove, or view the todo list.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code style="color: #678CB1;">addDeveloper</code></td>
                    <td style="width: 100%; text-align: center;">Allows you to add a developer to the bot.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code style="color: #678CB1;">removeDeveloper</code></td>
                    <td style="width: 100%; text-align: center;">Allows you to remove a developer from the bot.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code style="color: #678CB1;">rules</code></td>
                    <td style="width: 100%; text-align: center;">Sends the rules for Fellow Hashbrown's private server.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code style="color: #678CB1;">botTemplate</code></td>
                    <td style="width: 100%; text-align: center;">Sends the template for submitting a bot in Fellow Hashbrown's private server.</td>
                </tr>

                <tr>
                </tr>
                

            </table>
            
                </div>
                

                <h2 class="page-section">
                    <a name="Info"></a>
                    <code class="field">page</code><code>.</code><code class="field">Info</code><code>();</code>
                </h2>
                <div class="page-section-block" style="text-align: center;">
                    
            <table class="command-table" style="width: 100%;">
                
                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>botInfo</code></td>
                    <td style="width: 100%; text-align: center;">Allows you to get info about the bot.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>support</code></td>
                    <td style="width: 100%; text-align: center;">Gives you the invite link to my discord server!</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>website</code></td>
                    <td style="width: 100%; text-align: center;">Sends you a link to my website.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>replit</code></td>
                    <td style="width: 100%; text-align: center;">Gives you a link so you can read my source code.</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>uptime</code></td>
                    <td style="width: 100%; text-align: center;">Shows you my uptime!</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>invite</code></td>
                    <td style="width: 100%; text-align: center;">Allows you to invite me to your own server!</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code>ping</code></td>
                    <td style="width: 100%; text-align: center;">Ping-Pong!</td>
                </tr>

                <tr>
                </tr>
                

                <tr class="command-tr" style="width: 100%;">
                    <td style="width: 25%;"><code style="color: #80ff80;">prefix</code></td>
                    <td style="width: 100%; text-align: center;">Allows you to change the prefix for this server.</td>
                </tr>

                <tr>
                </tr>
                

            </table>
            
                </div>
                


                <br>
                
            </div>
        </div>
    </body>
</html>
