
<html>

    
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles.css" rel="stylesheet" type="text/css">

    
    <meta property="theme-color" content="#EC7600" />
    <meta property="og:title" content="website.developer();" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://omegapsi.fellowhashbrown.com/" />
    <meta property="og:image" content="https://i.imgur.com/Hy5Gyut.png" />

    <meta property="og:description" content="only developers can see this ..." />
    <meta property="og:site_name" content="Developer Portal" />
    <title>Developer Portal</title>
    

    <link rel="shortcut icon" href="{{ url_for('static', filename='/favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='/safari-pinned-tab.svg') }}" color="#202020">
    <meta name="msapplication-TileColor" content="#202020">
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='/mstile-144x144.png') }}">
    <meta name="theme-color" content="#202020">
    <meta name="msapplication-config" content="{{ url_for('static', filename='/browserconfig.xml') }}">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="/static/js/bugs.js"></script>
    <script src="/static/js/suggestions.js"></script>
    <script src="/static/js/settings.js"></script>
    <script src="/static/js/pendingUpdate.js"></script>
    <script src="/static/js/tasks.js"></script>

</head>


    <body>
        <div class="page-body">

            <!-- Navigation Bar -->
            <nav class="nav-bar">
                <img src="https://i.imgur.com/Hy5Gyut.png" class="social-image" style="width: 50px; height: 50px;">
                <div id="nav-toggle">
                    <input type="checkbox">
                    <span></span>
                    <span></span>
                    <span></span>
                    
                    <ul class="nav-links">
                        
                <li class="nav-item">
                    <a class="nav-link" href="/">commands</a>
                </li>

                
                <li class="nav-item">
                    <a class="nav-link" href="/info">info</a>
                </li>

                
                <li class="nav-item">
                    <a class="nav-link" href="/settings">settings</a>
                </li>

                
                    </ul>
                </div>
            </nav>

            <!-- Content -->
            <div class="content">
                
                <h1 class="page-title">
                    <span class="section-name"><code class="field">website</code><code>.</code></span><code class="field">developer</code><code>();</code>
                </h1>

                <div class="page-title-block" style="max-width: 75%;">
                    <p style="text-align: center;">
                        only developers can see this ...
                    </p>
                </div>

                
                            <!--Case Section-->
                            <h2 class="page-section">
                                <span class="section-name"><code class="field">page</code><code>.</code></span><code class="field">bugs</code><code>();</code>
                            </h2>
                            <div class="page-section-block">
                            {% if bug_cases|length == 0 %}
                                <h3>No Bugs Found</3>
                            {% else %}
                                <div class="cases-box">
                                    <table class="case-table">
                                        <thead>
                                            <tr>
                                                <th width="5%">Number</th>
                                                <th width="15%">Website or Bot?</th>
                                                <th width="20%">Source</th>
                                                <th width="35%">Description</th>
                                                <th width="15%">Reporter</th>
                                                <th width="5%">Seen?</th>
                                                <th width="5%">Fixed?</th>
                                                <th></th>
                                                <th></th>
                                            <tr>
                                        </thead>
                                        <tbody>
                                            {% for case in bug_cases -%}
                                                <tr>
                                                    <td>Bug #{{ case }}</td>
                                                    <td>{{ bug_cases[case]["source_type"] }}</td>
                                                    <td>{{ bug_cases[case]["source"] }}</td>
                                                    <td>{{ bug_cases[case]["bug"] }}</td>
                                                    <td>{{ bug_cases[case]["author"] }}</td>
                                                    <td id="bug{{ case }}SeenText">
                                                        {% if bug_cases[case]["seen"] %}
                                                            Yes
                                                        {% else %}
                                                            No
                                                        {% endif %}
                                                    </td>
                                                    <td id="bug{{ case }}FixedText">
                                                        {% if bug_cases[case]["fixed"] %}
                                                            Yes
                                                        {% else %}
                                                            No
                                                        {% endif %}
                                                    </td>
                                                    <td><button id="fixBug{{ case }}" type="button" class="page-form-button" onclick="fixBug({{ case }})">Fix</button></td>
                                                    <td>
                                                        {% if bug_cases[case]["seen"] %}
                                                            <button id="markBug{{ case }}Seen" type="button" class="page-form-button" onclick="markBugAsSeen({{ case }})">Seen By {{ bug_cases[case]["seen"] }}</button>
                                                        {% else %}
                                                            <button id="markBug{{ case }}Seen" type="button" class="page-form-button" onclick="markBugAsSeen({{ case }})">Mark As Seen</button>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}
                            </div>
            

                        <!--Case Section-->
                        <h2 class="page-section">
                            <span class="section-name"><code class="field">page</code><code>.</code></span><code class="field">suggestions</code><code>();</code>
                        </h2>
                        <div class="page-section-block">
                        {% if suggestion_cases|length == 0 %}
                            <h3>No Suggestions Found</3>
                        {% else %}
                            <div class="cases-box">
                                <table class="case-table">
                                    <thead>
                                        <tr>
                                            <th width="10%">Number</th>
                                            <th width="45%">Description</th>
                                            <th width="15%">Suggester</th>
                                            <th width="5%">Seen?</th>
                                            <th width="5%">Considered?</th>
                                            <th width="45%">Reason</th>
                                            <th></th>
                                            <th></th>
                                        <tr>
                                    </thead>
                                    <tbody>
                                        {% for case in suggestion_cases -%}
                                            <tr>
                                                <td>Suggestion #{{ case }}</td>
                                                <td>{{ suggestion_cases[case]["suggestion"] }}</td>
                                                <td>{{ suggestion_cases[case]["author"] }}</td>
                                                <td id="suggestion{{ case }}SeenText">
                                                    {% if suggestion_cases[case]["seen"] %}
                                                        Yes
                                                    {% else %}
                                                        No
                                                    {% endif %}
                                                </td>
                                                <td id="suggestion{{ case }}ConsideredText">
                                                    {% if not suggestion_cases[case]["consideration"] %}
                                                        Not Yet
                                                    {% else %}
                                                        {% if suggestion_cases[case]["consideration"]["considered"] %}
                                                            Yes
                                                        {% else %}
                                                            No
                                                        {% endif %}
                                                    {% endif %}
                                                </td>
                                                <td id="suggestion{{ case }}ReasonText">
                                                    {% if not suggestion_cases[case]["consideration"] %}
                                                        None Yet
                                                    {% else %}
                                                        {% if suggestion_cases[case]["consideration"]["considered"] %}
                                                            N/A
                                                        {% else %}
                                                            {{ suggestion_cases[case]["consideration"]["reason"] }}
                                                        {% endif %}
                                                    {% endif %}
                                                </td>
                                                <td><button id="considerSuggestion{{ case }}" type="button" class="page-form-button" onclick="considerSuggestion({{ case }})">Consider/Don't Consider</button></td>
                                                <td>
                                                    {% if suggestion_cases[case]["seen"] %}
                                                        <button id="markSuggestion{{ case }}Seen" type="button" class="page-form-button" onclick="markSuggestionAsSeen({{ case }})">Seen By {{ suggestion_cases[case]["seen"] }}</button>
                                                    {% else %}
                                                        <button id="markSuggestion{{ case }}Seen" type="button" class="page-form-button" onclick="markSuggestionAsSeen({{ case }})">Mark As Seen</button>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endif %}
                        </div>
        

                        <!--Disabled Commands Section-->
                        <h2 class="page-section">
                            <span class="section-name"><code class="field">page</code><code>.</code></span><code class="field">disabledCommands</code><code>();</code>
                        </h2>
                        <div id="disabledCommandsDiv" class="page-section-block" style="text-align: center;">
                            {% if disabled_commands|length == 0 %}
                                <p id="noDisabledCommands">No Disabled Commands</p>
                            {% else %}
                                <div class="cases-box">
                                    <table id="disabledCommandsTable" width="100%">
                                        <thead>
                                            <tr>
                                                <th width="100%">disabled command</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="disabledCommands">
                                        {% for command in disabled_commands -%}
                                            <tr id="disabledCommand{{ command }}">
                                                <td>{{ command }}</td>
                                                <td><button class="page-form-button" onclick="globallyEnableCommand('{{ command }}')">Enable</button>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}
                            <button id="disableCommand" class="page-form-button" onclick="globallyDisableCommand({{ all_commands }})">Disable Command</button>
                        </div>
            

                            <!--Tasklist Section-->
                            <h2 class="page-section">
                                <span class="section-name"><code class="field">page</code><code>.</code></span><code class="field">tasks</code><code>();</code>
                            </h2>
                            <div id="tasksDiv" class="page-section-block" style="text-align: center;">
                                <p>below is the current tasklist that developers intend to complete</p>
                                {% if tasks == None %}
                                    <p id="noTasks">No Tasks Yet</p>
                                {% else %}
                                    <div class="cases-box">
                                        <table id="tasksTable" width="100%">
                                            <thead>
                                                <tr>
                                                    <th width="100%">Task</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tasks">
                                                {% for taskID in tasks -%}
                                                    <tr id ="task{{ taskID }}">
                                                        <td id="task{{ taskID }}Task">{{ tasks[taskID] }}</td>
                                                        <td><button class="page-form-button" onclick="editTask('{{ taskID }}')">Edit</button</td>
                                                        <td><button class="page-form-button" onclick="removeTask('{{ taskID }}')">Remove</button></td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% endif %}
                                <button id="addNewTask" class="page-form-button" onclick="addTask()">Add New Task</button>
                            </div>
            

                            <!--Pending Update Section-->
                            <h2 class="page-section">
                                <span class="section-name"><code class="field">page</code><code>.</code></span><code class="field">pendingUpdate</code><code>();</code>
                            </h2>
                            <div id="pendingUpdateDiv" class="page-section-block" style="text-align: center;">
                                {% if pending_update == None %}
                                    <p id="noPendingUpdate">No Pending Update</p>
                                    <button id="createUpdate" class="page-form-button" onclick="createUpdate()">Create Update</button>
                                {% else %}
                                    {% if pending_update["features"]|length == 0 %}
                                        <p id="noFeatures">No Features Yet</p>
                                    {% else %}
                                        <div class="cases-box">
                                            <table id="featuresTable" class="case-table" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th width="92%">Feature</th>
                                                        <th width="8%">Type</th>
                                                        <th>Date</th>
                                                        <th></th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="features">
                                                    {% for feature in pending_update["features"] -%}
                                                        <tr id="feature{{ feature }}">
                                                            <td id="feature{{ feature }}Feature">{{ pending_update["features"][feature]["feature"] }}</td>
                                                            <td id="feature{{ feature }}Type">{{ pending_update["features"][feature]["type"] }}</td>
                                                            <td>{{ pending_update["features"][feature]["human_time"] }}</td>
                                                            <td><button class="page-form-button" onclick="editFeature('{{ feature }}')">Edit</button></td>
                                                            <td><button class="page-form-button" onclick="removeFeature('{{ feature }}')">Remove</button></td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    {% endif %}
                                    <button id="addNewFeature" class="page-form-button" onclick="addFeature()">Add New Feature</button>
                                {% endif %}
                            </div>
            


                <br>
                <br>
                
            </div>
        </div>
    </body>
    <footer class="footer">
        <p style="text-align: center;"><a href="/privacyPolicy" class="link" style="font-family: cutive mono, monospace;">privacy policy</a> | <a href="/developer" class="link" style="font-family: cutive mono, monospace;">devs</a><small style="background: #202020;"><code>Copyright &copy; 2018<script>new Date().getFullYear()>2018&&document.write("-"+new Date().getFullYear());</script>, Jonah Pierce</code></small></p>

    </footer>
</html>
