
<html>

    
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles.css" rel="stylesheet" type="text/css">

    
    <meta property="theme-color" content="#EC7600" />
    <meta property="og:title" content="website.home();" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://omegapsi.fellowhashbrown.com/home" />
    <meta property="og:image" content="https://i.imgur.com/Hy5Gyut.png" />

    <meta property="og:description" content="here's the website for omega psi! below, you can suggest stuff or report a bug." />
    <meta property="og:site_name" content="Omega Psi" />
    <title>Omega Psi</title>
    

    <link rel="shortcut icon" href="{{ url_for('static', filename='/favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='/safari-pinned-tab.svg') }}" color="#202020">
    <meta name="msapplication-TileColor" content="#202020">
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='/mstile-144x144.png') }}">
    <meta name="theme-color" content="#202020">
    <meta name="msapplication-config" content="{{ url_for('static', filename='/browserconfig.xml') }}">
</head>


    <body>
        <div class="page-body">

            <!-- Navigation Bar -->
            <nav class="nav-bar">
                <img src="https://i.imgur.com/Hy5Gyut.png" class="social-image" style="width: 50px; height: 50px;">
                <ul class="nav-links">
                    
                <li class="nav-item">
                    <a class="nav-link active" href="/">home</a>
                </li>

                
                <li class="nav-item">
                    <a class="nav-link" href="/commands">commands</a>
                </li>

                
                <li class="nav-item">
                    <a class="nav-link" href="https://www.fellowhashbrown.com">website</a>
                </li>

                
                </ul>
            </nav>

            <!-- Content -->
            <div class="content">
                
                <h1 class="page-title">
                    <code class="field">website</code><code>.</code><code class="field">home</code><code>();</code>
                </h1>

                <div class="page-title-block" style="max-width: 75%;">
                    <p style="text-align: center;">
                        here's the website for omega psi! below, you can suggest stuff or report a bug.
                    </p>
                </div>

                
                <h2 class="page-section">
                    <a name="suggest"></a>
                    <code class="field">page</code><code>.</code><code class="field">suggest</code><code>();</code>
                </h2>
                <div class="page-section-block" style="text-align: center;">
                    <p style="text-align: left;">
                        if you think you have a good idea (or even a great idea) for omega psi, please suggest it below!
                    </p>
                    
            <form action="/" method="post">
                <input type="text" class="page-form-input" name="suggest">
                <input type="submit" class="page-form-button" value="suggest" placeholder="enter your suggestion here">
            </form>
            
                </div>
                

                <h2 class="page-section">
                    <a name="bug"></a>
                    <code class="field">page</code><code>.</code><code class="field">bug</code><code>();</code>
                </h2>
                <div class="page-section-block" style="text-align: center;">
                    <p style="text-align: left;">
                        did you find something that resembles that of a bug? report it here! be sure to give a decent description of it so i know what to test for.
                    </p>
                    
            <form action="/" method="post">
                <input type="text" class="page-form-input" name="bug">
                <input type="submit" class="page-form-button" value="report bug" placeholder="report your bug here">
            </form>
            
                </div>
                

                <h2 class="page-section">
                    <a name="insult"></a>
                    <code class="field">page</code><code>.</code><code class="field">insult</code><code>();</code>
                </h2>
                <div class="page-section-block" style="text-align: center;">
                    <p style="text-align: left;">
                        do the insults bore you? suggest more here!
                    </p>
                    
            <form action="/" method="post">
                <input type="text" class="page-form-input" name="insult">
                <input type="submit" class="page-form-button" value="suggest insult" placeholder="suggest an insult here">
            </form>
            
                </div>
                

                <h2 class="page-section">
                    <a name="hangman"></a>
                    <code class="field">page</code><code>.</code><code class="field">hangman</code><code>();</code>
                </h2>
                <div class="page-section-block" style="text-align: center;">
                    <p style="text-align: left;">
                        would you like more hangman phrases in omega psi? suggest it below
                    </p>
                    
            <form action="/" method="post">
                <input type="text" class="page-form-input" name="hangman">
                <input type="submit" class="page-form-button" value="suggest phrase" placeholder="suggest a hangman phrase">
            </form>
            
                </div>
                

                <h2 class="page-section">
                    <a name="scramble"></a>
                    <code class="field">page</code><code>.</code><code class="field">scramble</code><code>();</code>
                </h2>
                <div class="page-section-block" style="text-align: center;">
                    <p style="text-align: left;">
                        do the scramble phrases not challenge you enough? suggest a more complex one here
                    </p>
                    
            <form action="/" method="post">
                <input type="text" class="page-form-input" name="scramble">
                <input type="submit" class="page-form-button" value="suggest phrase" placeholder="suggest a scramble phrase">
            </form>
            
                </div>
                


                <br>
                
            </div>
        </div>
    </body>
</html>
