<head>
   <style>
       body {
           background-color: #202020;
           color: #EEEEEE;
       }
       table {
           border-style: hidden;
       }
       a {
           color: #BBBBBB;
       }
   </style>
   <link rel="shortcut icon" href="{{ url_for('static', filename="/favicon.ico") }}">
   <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename="/apple-touch-icon.png") }}">
   <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename="/favicon-32x32.png") }}">
   <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename="/favicon-16x16.png") }}">
   <link rel="manifest" href="{{ url_for('static', filename="/site.webmanifest") }}">
   <link rel="mask-icon" href="{{ url_for('static', filename="/safari-pinned-tab.svg") }}" color="#202020">
   <meta name="msapplication-TileColor" content="#202020">
   <meta name="msapplication-TileImage" content="{{ url_for('static', filename="/mstile-144x144.png") }}">
   <meta name="theme-color" content="#202020">
   <meta name="msapplication-config" content="{{ url_for('static', filename="/browserconfig.xml") }}">
</head>
<h>Table of Contents</h>
  <ul>
    <li><a href="#help">Help</a></li>
    <li><a href="#code">Code</a></li>
    <li><a href="#game">Game</a></li>
    <li><a href="#image">Image</a></li>
    <li><a href="#insult">Insult</a></li>
    <li><a href="#internet">Internet</a></li>
    <li><a href="#math">Math</a></li>
    <li><a href="#rank">Rank</a></li>
    <li><a href="#miscellaneous">Miscellaneous</a></li>
    <li><a href="#nsfw">NSFW</a></li>
    <li><a href="#server-moderator">Server Moderator</a></li>
    <li><a href="#bot-moderator">Bot Moderator</a></li>
  </ul>
<a name="help"></a>
<h2>Help</h2>
  <p><em>Shows you the help menu.</em></p>
  <p style="color:#FF5555"><strong></strong></p>
  <p style="color:#FF5555"><strong><em></em></strong></p>
  <p style="color:#FF5555"><strong><em></em></strong></p>
<ul>
  <li><code>help | h | ? [command | category]</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Gives you help on all commands or a specific command in the bot.</li>
  <ul>
  </ul>

  <li><code>markdown | getMarkdown | md | getMd </code> - <strong><code></code></strong><strong><code></code></strong><strong><code>Bot Mod </code></strong>Creates and sends the markdown file for the commands.</li>
  <ul>
  </ul>

</ul>

<a name="code"></a>
<h2>Code</h2>
  <p><em>Commands that have to do with coding!</em></p>
  <p style="color:#FF5555"><strong></strong></p>
  <p style="color:#FF5555"><strong><em></em></strong></p>
  <p style="color:#FF5555"><strong><em></em></strong></p>
<ul>
  <li><code>brainfuck | brainf | bf &lt;code&gt; [parameters]</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Runs brainfuck code. Kinda confusing stuff at first glance.</li>
  <ul>
  </ul>

  <li><code>convert | conversion | baseConversion | baseConverter [startBase] &lt;endBase&gt; &lt;number&gt;</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Converts a number from one base to another base.</li>
  <ul>
  </ul>

  <li><code>base64 | b64 &lt;conversion&gt; &lt;text&gt;</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Encodes or decodes text to base64.</li>
  <ul>
  <li>Accepted Parameters for <code>conversion</code>
</li>
    <ul>
      <li><code>encode | enc | e</code> - Encode text into base64.</li>
      <li><code>decode | dec | d</code> - Decode text from base64.</li>
    </ul>
  </ul>

</ul>

<a name="game"></a>
<h2>Game</h2>
  <p><em>You can play games with these.</em></p>
  <p style="color:#FF5555"><strong></strong></p>
  <p style="color:#FF5555"><strong><em></em></strong></p>
  <p style="color:#FF5555"><strong><em></em></strong></p>
<ul>
  <li><code>connectFour | connect4 | cf [difficulty]</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Play connect four with Omega Psi.</li>
  <ul>
  <li>Accepted Parameters for <code>difficulty</code>
</li>
    <ul>
      <li><code>quit | q | exit</code> - Allows you to quit the Connect 4 game.</li>
    </ul>
  </ul>

  <li><code>hangman | playHangman [difficulty]</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Let's you play hangman!</li>
  <ul>
  <li>Accepted Parameters for <code>difficulty</code>
</li>
    <ul>
      <li><code>easy | simple | e</code> - Play an easy game of Hangman.</li>
      <li><code>medium | m</code> - Play a medium game of Hangman.</li>
      <li><code>hard | difficult | h</code> - Play a hard game of Hangman.</li>
      <li><code>quit | q | exit</code> - Allows you to quit the hangman game.</li>
    </ul>
  </ul>

  <li><code>rockPaperScissors | rps &lt;action&gt;</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Allows you to play Rock Paper Scissors with me.</li>
  <ul>
  <li>Accepted Parameters for <code>action</code>
</li>
    <ul>
      <li><code>rock | r</code> - Do a rock action.</li>
      <li><code>paper | p</code> - Do a paper action.</li>
      <li><code>scissors | s</code> - Do a scissor action.</li>
    </ul>
  </ul>

  <li><code>scramble [difficulty]</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Allows you to guess an unscrambled word.</li>
  <ul>
  <li>Accepted Parameters for <code>difficulty</code>
</li>
    <ul>
      <li><code>normal | n | easy | e</code> - Only each word is scrambled.</li>
      <li><code>expert | hard | difficult</code> - The entire phrase is scrambled.</li>
      <li><code>quit | q | exit</code> - Allows you to quit the scramble game.</li>
    </ul>
  </ul>

  <li><code>ticTacToe | ttt [difficulty]</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Lets you play a Tic-Tac-Toe game against Omega Psi.</li>
  <ul>
  <li>Accepted Parameters for <code>difficulty</code>
</li>
    <ul>
      <li><code>easy | simple | e</code> - Play an easy game of Tic-Tac-Toe.</li>
      <li><code>medium | m</code> - Play a medium game of Tic-Tac-Toe.</li>
      <li><code>hard | difficult | h</code> - Play a hard game of Tic-Tac-Toe.</li>
      <li><code>quit | q | exit</code> - Quit your game of Tic-Tac-Toe.</li>
    </ul>
  </ul>

  <li><code>stats | gameStats </code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Gives you stats on the games you've won/lost.</li>
  <ul>
  </ul>

  <li><code>blackOps3 | blackops3 | bo3 &lt;platform&gt; &lt;username&gt;</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Gives you stats on a specific player in Black Ops 3</li>
  <ul>
  <li>Accepted Parameters for <code>platform</code>
</li>
    <ul>
      <li><code>xbox | Xbox</code> - Get Black Ops 3 stats for Xbox.</li>
      <li><code>playstation | psn | PSN</code> - Get Black Ops 3 stats for Playstation Network (PSN).</li>
    </ul>
  </ul>

  <li><code>blackOps4 | blackops4 | bo4 &lt;platform&gt; &lt;username&gt;</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Gives you stats on a specific player in Black Ops 4</li>
  <ul>
  <li>Accepted Parameters for <code>platform</code>
</li>
    <ul>
      <li><code>xbox | Xbox</code> - Get Black Ops 4 stats for Xbox.</li>
      <li><code>playstation | psn | PSN</code> - Get Black Ops 4 stats for Playstation Network (PSN).</li>
      <li><code>battleNet</code> - Get Black Ops 4 stats for Battle.net.</li>
    </ul>
  </ul>

  <li><code>fortnite &lt;platform&gt; &lt;username&gt;</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Gives you stats on a specific player in Fortnite.</li>
  <ul>
  <li>Accepted Parameters for <code>platform</code>
</li>
    <ul>
      <li><code>playstation | psn | ps</code> - Get Fortnite stats for Playstation 4.</li>
      <li><code>xbox | Xbox</code> - Get Fortnite stats for Xbox.</li>
      <li><code>pc | PC</code> - Get Fortnite stats for PC.</li>
    </ul>
  </ul>

  <li><code>fortniteItemShop </code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Gives you the current items in the Fortnite Item Shop.</li>
  <ul>
  </ul>

  <li><code>league | leagueOfLegends | LoL &lt;username&gt;</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Gives you stats on a specific Summoner in League of Legends.</li>
  <ul>
  </ul>

</ul>

<a name="image"></a>
<h2>Image</h2>
  <p><em>Anything having to do with images is here.</em></p>
  <p style="color:#FF5555"><strong></strong></p>
  <p style="color:#FF5555"><strong><em></em></strong></p>
  <p style="color:#FF5555"><strong><em></em></strong></p>
<ul>
  <li><code>gif | giphy | g [keywords]</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Sends a random gif from Giphy.</li>
  <ul>
  </ul>

  <li><code>theOffice | office | o </code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Sends a random gif related to The Office.</li>
  <ul>
  </ul>

  <li><code>parksAndRec | parks | pnr </code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Sends a random gif related to Parks and Rec.</li>
  <ul>
  </ul>

  <li><code>brooklyn99 | b99 | 99 </code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Sends a random gif related to Brooklyn Nine-Nine.</li>
  <ul>
  </ul>

  <li><code>avatar | avatarMe </code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Sends a random cute avatar.</li>
  <ul>
  </ul>

  <li><code>meme </code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Sends a random meme from Reddit.</li>
  <ul>
  </ul>

  <li><code>burnLetter &lt;letterText&gt; &lt;spongebobText&gt;</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Sends a generated meme based off of <a href="https://tinyurl.com/burnLetter">this</a> image.</li>
  <ul>
  </ul>

  <li><code>butILikeThis | thisIsBetter &lt;redCarText&gt; &lt;whiteCarText&gt;</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Sends a generated meme based off of <a href="https://i.imgur.com/GzRvZUx.png">this</a> image.</li>
  <ul>
  </ul>

  <li><code>carSkidding | carSkid &lt;carText&gt; &lt;straightText&gt; &lt;exitText&gt;</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Sends a generated meme based off of <a href="https://tinyurl.com/carSkidding">this</a> image.</li>
  <ul>
  </ul>

  <li><code>cardSlam &lt;cardText&gt; &lt;bodyText&gt; &lt;tableText&gt;</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Sends a generated meme based off of <a href="https://i.imgur.com/GBMCNYM.jpg">this</a> image.</li>
  <ul>
  </ul>

  <li><code>classroomStares &lt;bubbleText&gt;</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Sends a generated meme based off of <a href="https://i.imgur.com/3QVQ2V5.jpg">this</a> image.</li>
  <ul>
  </ul>

  <li><code>icarlyStopSign | icarlyStop &lt;spencerText&gt; [stopText] &lt;gibbyText&gt;</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Sends a generated meme based off of <a href="https://i.imgur.com/MSaTVD2.jpg">this</a> image.</li>
  <ul>
  </ul>

  <li><code>mastersBlessing &lt;masterText&gt; &lt;swordText&gt; &lt;apprenticeText&gt;</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Sends a generated meme based off of <a href="https://tinyurl.com/mastersBlessing">this</a> image.</li>
  <ul>
  </ul>

  <li><code>armHandshake &lt;handsText&gt; &lt;firstArm&gt; &lt;secondArm&gt; [thirdArm] [fourthArm]</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Sends a generated meme based off of <a href="https://tinyurl.com/twoArmHandshake">this</a> image.</li>
  <ul>
  </ul>

  <li><code>pigeon | isThisAPigeon &lt;pigeonText&gt; &lt;personText&gt; &lt;questionText&gt;</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Sends a generated meme based off of <a href="https://i.kym-cdn.com/photos/images/original/001/374/087/be2.png">this</a> image.</li>
  <ul>
  </ul>

  <li><code>puppetMeme &lt;handText&gt; &lt;puppetText&gt;</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Sends a generated meme based off of <a href="https://tinyurl.com/puppetMeme">this</a> image.</li>
  <ul>
  </ul>

  <li><code>runAway &lt;chaserText&gt; &lt;runnerText&gt;</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Sends a generated meme based off of <a href="https://tinyurl.com/y9zqyq92">this</a> image.</li>
  <ul>
  </ul>

  <li><code>saveOne &lt;personText&gt; &lt;leftBehindText&gt; &lt;savedText&gt;</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Sends a generated meme based off of <a href="https://tinyurl.com/saveOneMeme">this</a> image.</li>
  <ul>
  </ul>

  <li><code>sayItAgain | dexterMeme &lt;topText&gt; &lt;bottomText&gt;</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Sends a generated meme based off of <a href="https://i.imgflip.com/16iyn1.jpg?a428353">this</a> image.</li>
  <ul>
  </ul>

  <li><code>spontaneousAnger | angerMeme &lt;angerText&gt; &lt;questionText&gt;</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Sends a generated meme based off of <a href="https://i.imgur.com/o1NzXyW.jpg">this</a> image.</li>
  <ul>
  </ul>

  <li><code>surprisedDwight &lt;dwightText&gt; &lt;angelaText&gt;</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Sends a generated meme based off of <a href="https://tinyurl.com/surprisedDwight">this</a> image.</li>
  <ul>
  </ul>

  <li><code>surprisedPikachu &lt;firstLine&gt; &lt;secondLine&gt; &lt;thirdLine&gt; [fourthLine] [fifthLine]</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Sends a generated meme based off of <a href="https://imgflip.com/s/meme/Surprised-Pikachu.jpg">this</a> image.</li>
  <ul>
  </ul>

  <li><code>trojanHorse &lt;hidersText&gt; &lt;horseText&gt; &lt;castleText&gt; &lt;welcomersText&gt;</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Sends a generated meme based off of <a href="https://i.imgur.com/pNR2At1.jpg">this</a> image.</li>
  <ul>
  </ul>

  <li><code>whoKilledHannibal &lt;ericAndreText&gt; &lt;gunText&gt; &lt;hannibalText&gt; &lt;questionText&gt;</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Sends a generated meme based off of <a href="https://i.imgflip.com/28s2gu.jpg">this</a> image.</li>
  <ul>
  </ul>

  <li><code>nasa | NASA | nasaImage | NASAImage | nasaImg | NASAImg [term]</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Gives you a random NASA image given a search term or no search term.</li>
  <ul>
  </ul>

</ul>

<a name="insult"></a>
<h2>Insult</h2>
  <p><em>If you feel in the mood to be insulted, here ya are.</em></p>
  <p style="color:#FF5555"><strong></strong></p>
  <p style="color:#FF5555"><strong><em></em></strong></p>
  <p style="color:#FF5555"><strong><em></em></strong></p>
<ul>
  <li><code>insult | i [insultLevel]</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Sends you an insult.</li>
  <ul>
  <li>Accepted Parameters for <code>insultLevel</code>
</li>
    <ul>
      <li><code>touchy | t</code> - Soft insults for a soft person.</li>
      <li><code>remorseful | remorse | r</code> - Harder insults. Might offend you.</li>
      <li><code>noRemorse | noremorse | nr</code> - Hardcore insults. And I mean it.</li>
    </ul>
  </ul>

  <li><code>addInsult | addI &lt;insultLevel&gt; &lt;insult&gt;</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Allows you to add your own insult.</li>
  <ul>
  <li>Accepted Parameters for <code>insultLevel</code>
</li>
    <ul>
      <li><code>touchy | t</code> - Soft insults for a soft person.</li>
      <li><code>remorseful | remorse | r</code> - Harder insults. Might offend you.</li>
      <li><code>noRemorse | noremorse | nr</code> - Hardcore insults. And I mean it.</li>
    </ul>
  </ul>

  <li><code>listInsults | list | l [insultLevel]</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Lists the insults that can be sent.</li>
  <ul>
  <li>Accepted Parameters for <code>insultLevel</code>
</li>
    <ul>
      <li><code>touchy | t</code> - Soft insults for a soft person.</li>
      <li><code>remorseful | remorse | r</code> - Harder insults. Might offend you.</li>
      <li><code>noRemorse | noremorse | nr</code> - Hardcore insults. And I mean it.</li>
    </ul>
  </ul>

</ul>

<a name="internet"></a>
<h2>Internet</h2>
  <p><em>All commands that deal with the internet are here.</em></p>
  <p style="color:#FF5555"><strong></strong></p>
  <p style="color:#FF5555"><strong><em></em></strong></p>
  <p style="color:#FF5555"><strong><em></em></strong></p>
<ul>
  <li><code>urban | urbanDictionary | urbanDict &lt;term&gt;</code> - <strong><code>NSFW </code></strong><strong><code></code></strong><strong><code></code></strong>Gives you the top 5 urban dictionary entries for a term.</li>
  <ul>
  </ul>

  <li><code>wikipedia | wiki &lt;term&gt;</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Gets a wikipedia entry you type in.</li>
  <ul>
  </ul>

  <li><code>weather | forecast | getWeather &lt;location&gt;</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Gets the weather for a specified location.</li>
  <ul>
  </ul>

</ul>

<a name="math"></a>
<h2>Math</h2>
  <p><em>Need help with math? These commands got your back.</em></p>
  <p style="color:#FF5555"><strong></strong></p>
  <p style="color:#FF5555"><strong><em></em></strong></p>
  <p style="color:#FF5555"><strong><em></em></strong></p>
<ul>
  <li><code>substitute | subs &lt;expression&gt; &lt;variables&gt;</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Substitutes variables in an equation.</li>
  <ul>
  </ul>

  <li><code>integral | integrate &lt;expression&gt;</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Gets the integral of an expression.</li>
  <ul>
  </ul>

  <li><code>factor | f &lt;expression&gt;</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Factors a mathematical expression.</li>
  <ul>
  </ul>

  <li><code>fibonacci | fib &lt;number&gt;</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Gets the fibonacci number of a number.</li>
  <ul>
  </ul>

  <li><code>simplify | simp | evaluate | eval &lt;expression&gt;</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Simplifies a mathematical expression.</li>
  <ul>
  </ul>

  <li><code>derivative | derivate | dv &lt;expression&gt;</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Gets the derivative of an expression.</li>
  <ul>
  </ul>

  <li><code>factorial | ! &lt;number&gt;</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Gets the factorial of a number.</li>
  <ul>
  </ul>

  <li><code>solve | system &lt;equation(s)&gt;</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Solves an equation or a system of equations.</li>
  <ul>
  </ul>

  <li><code>expand | exp | e &lt;expression&gt;</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Expands a mathematical expression.</li>
  <ul>
  </ul>

</ul>

<a name="rank"></a>
<h2>Rank</h2>
  <p><em>The ranking system is strong with this category.</em></p>
  <p style="color:#FF5555"><strong></strong></p>
  <p style="color:#FF5555"><strong><em>This category contains commands that can only be run in a Server.</em></strong></p>
  <p style="color:#FF5555"><strong><em></em></strong></p>
<ul>
  <li><code>levelUp [interaction]</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Shows you how many profane words, reactions, or normal messages you need to send to level up.</li>
  <ul>
  <li>Accepted Parameters for <code>interaction</code>
</li>
    <ul>
      <li><code>profanity | profane</code> - Check how many profane words you need to level up.</li>
      <li><code>reactions | reacts</code> - Check how many reactions you need to level up.</li>
      <li><code>normal | basic</code> - Check how many regular messages you need to send to level up.</li>
    </ul>
  </ul>

  <li><code>rank | r </code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Shows you your current level and experience in this server.</li>
  <ul>
  </ul>

</ul>

<a name="miscellaneous"></a>
<h2>Miscellaneous</h2>
  <p><em>Other commands that don't really fit into a category yet.</em></p>
  <p style="color:#FF5555"><strong></strong></p>
  <p style="color:#FF5555"><strong><em></em></strong></p>
  <p style="color:#FF5555"><strong><em></em></strong></p>
<ul>
  <li><code>advice </code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Gives you a random piece of advice.</li>
  <ul>
  </ul>

  <li><code>choose | choice &lt;choice(s)...&gt;</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Gives you a random choice from a specified list.</li>
  <ul>
  </ul>

  <li><code>chuckNorris | chuck | norris </code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Gives you a random Chuck Norris joke.</li>
  <ul>
  </ul>

  <li><code>numberFact | number </code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Gives you a fact about a number.</li>
  <ul>
  </ul>

  <li><code>random | rand | randint &lt;start&gt; &lt;end&gt;</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Gives you a random number between the specified range.</li>
  <ul>
  </ul>

  <li><code>tronaldDumpMeme | tronaldMeme | trumpMeme </code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Gives you a random meme from Donald Trump.</li>
  <ul>
  </ul>

  <li><code>tronaldDumpQuote | tronaldQuote | trumpQuote </code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Gives you a random quote from Donald Trump.</li>
  <ul>
  </ul>

  <li><code>info | ?? [member]</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Gives you info on a member or the server as saved by the bot.</li>
  <ul>
  </ul>

  <li><code>inviteBot | invite [permissions...]</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Gives you a link so you can invite the bot to your own server.</li>
  <ul>
  <li>Accepted Parameters for <code>permissions...</code>
</li>
    <ul>
      <li><code>administrator | admin</code> - Gives the bot administrator privileges.</li>
      <li><code>viewAuditLog | auditLog | audit</code> - Gives the bot access to the audit log.</li>
      <li><code>manageServer | mngSvr</code> - Gives the bot permission to manage the server.</li>
      <li><code>manageRoles | mngRoles</code> - Gives the bot permission to manage the roles.</li>
      <li><code>manageChannels | mngChnls</code> - Gives the bot permission to manage the channels.</li>
      <li><code>kickMembers | kickMbrs</code> - Gives the bot permission to kick members.</li>
      <li><code>banMembers | banMbrs</code> - Gives the bot permission to ban members.</li>
      <li><code>createInstantInvite | instantInvite | invite</code> - Gives the bot permission to create an instant invite for the server.</li>
      <li><code>changeNickname | chngNick</code> - Gives the bot permission to change their nickname.</li>
      <li><code>manageNicknames | mngNick</code> - Gives the bot permission to manage other people's nicknames.</li>
      <li><code>manageEmojis | mngEmojis</code> - Gives the bot permission to manage the server's emojis.</li>
      <li><code>manageWebhooks | mngWbhks</code> - Gives the bot permission to manage the server's webhooks.</li>
      <li><code>viewChannels | viewChnls</code> - Gives the bot permission to view the channels.</li>
      <li><code>sendMessages | message | msg</code> - Gives the bot permission to send messages.</li>
      <li><code>sendTtsMessages | ttsMessages</code> - Gives the bot permission to send TTS (text-to-speech) messages.</li>
      <li><code>manageMessages | mngMsgs</code> - Gives the bot permission to manage messages.</li>
      <li><code>embedLinks | links</code> - Gives the bot permission to embed links.</li>
      <li><code>attachFiles | files</code> - Gives the bot permission to attach files.</li>
      <li><code>readMessageHistory | messageHistory | msgHist</code> - Gives the bot permission to read the message history.</li>
      <li><code>mentionEveryone</code> - Gives the bot permission to mention everyone.</li>
      <li><code>useExternalEmojis | externalEmojis | emojis</code> - Gives the bot permission to use other server's emojis.</li>
      <li><code>addReactions | reactions</code> - Gives the bot permission to react to messages.</li>
      <li><code>connect</code> - Gives the bot permission to connect to a voice channel.</li>
      <li><code>speak</code> - Gives the bot permission to speak in a voice channel.</li>
      <li><code>muteMembers | mute</code> - Gives the bot permission to mute members in a voice channel.</li>
      <li><code>deafenMembers | deafen</code> - Gives the bot permission to deafen members in a voice channel.</li>
      <li><code>useMembers</code> - Gives the bot permission to move members to a different voice channel.</li>
      <li><code>useVoiceActivity | useVoice | voice</code> - Gives the bot permission to use voice activity in a voice channel.</li>
      <li><code>prioritySpeaker</code> - Gives the bot permission to the priority speaker.</li>
    </ul>
  </ul>

  <li><code>sendBug | bug | error | feedback &lt;messageType&gt; &lt;message&gt;</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Allows you to send any feedback, bugs, or errors directly to all developers of Omega Psi.</li>
  <ul>
  <li>Accepted Parameters for <code>messageType</code>
</li>
    <ul>
      <li><code>bug</code> - The type of message is a bug in Omega Psi.</li>
      <li><code>error</code> - Something is going wrong but you don't know what.</li>
      <li><code>feedback</code> - You want to provide feedback, suggest features, or anything else that doesn't fit into a message type.</li>
      <li><code>moderator</code> - If you are the Server Owner and you do not have Server Moderator commands showing up in the help menu, use this.</li>
    </ul>
  </ul>

  <li><code>ping </code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Pings the bot.</li>
  <ul>
  </ul>

  <li><code>nickname | nick [nickname]</code> - <strong><code></code></strong><strong><code></code></strong><strong><code></code></strong>Changes your nickname.</li>
  <ul>
  </ul>

</ul>

<a name="nsfw"></a>
<h2>NSFW</h2>
  <p><em>An NSFW category for 18+</em></p>
  <p style="color:#FF5555"><strong>You should be 18+ to run the commands in this channel!</strong></p>
  <p style="color:#FF5555"><strong><em></em></strong></p>
  <p style="color:#FF5555"><strong><em>This category is NSFW.</em></strong></p>
<ul>
  <li><code>boobs | boob </code> - <strong><code>NSFW </code></strong><strong><code></code></strong><strong><code></code></strong>Sends a random picture of boobs.</li>
  <ul>
  </ul>

  <li><code>booty | ass </code> - <strong><code>NSFW </code></strong><strong><code></code></strong><strong><code></code></strong>Sends a random picture of some booty.</li>
  <ul>
  </ul>

</ul>

<a name="server-moderator"></a>
<h2>Server Moderator</h2>
  <p><em>Moderate your server with this.</em></p>
  <p style="color:#FF5555"><strong>In order to use these commands, you must have the Manage Server permissions.</strong></p>
  <p style="color:#FF5555"><strong><em>This category contains commands that can only be run in a Server.</em></strong></p>
  <p style="color:#FF5555"><strong><em></em></strong></p>
<ul>
  <li><code>addMember | addM | am &lt;member(s)...&gt;</code> - <strong><code></code></strong><strong><code>Server Mod </code></strong><strong><code></code></strong>Allows you to add a member, or members, to the server file manually.</li>
  <ul>
  </ul>

  <li><code>removeMember | removeM | rm &lt;member(s)...&gt;</code> - <strong><code></code></strong><strong><code>Server Mod </code></strong><strong><code></code></strong>Allows you to remove a member, or members, from the server file manually.</li>
  <ul>
  </ul>

  <li><code>addModerator | addMod &lt;member(s)...&gt;</code> - <strong><code></code></strong><strong><code>Server Mod </code></strong><strong><code></code></strong>Allows you to add a moderator, or moderators, to the server (only for Omega Psi).</li>
  <ul>
  </ul>

  <li><code>removeModerator | removeMod | remMod &lt;member(s)...&gt;</code> - <strong><code></code></strong><strong><code>Server Mod </code></strong><strong><code></code></strong>Allows you to remove a moderator, or moderators, from the server (only for Omega Psi).</li>
  <ul>
  </ul>

  <li><code>activate | enable &lt;command&gt;</code> - <strong><code></code></strong><strong><code>Server Mod </code></strong><strong><code></code></strong>Allows you to activate a command, or commands, in the server.</li>
  <ul>
  </ul>

  <li><code>deactivate | disable &lt;command&gt; [reason]</code> - <strong><code></code></strong><strong><code>Server Mod </code></strong><strong><code></code></strong>Allows you to deactivate a command in the server.</li>
  <ul>
  </ul>

  <li><code>toggleRanking | toggleLeveling | toggleRank | toggleLevel | togRank | togLevel </code> - <strong><code></code></strong><strong><code>Server Mod </code></strong><strong><code></code></strong>Allows you to toggle the ranking system in the server.</li>
  <ul>
  </ul>

  <li><code>toggleJoinMessage | toggleJoinMsg | togJoinMessage | togJoinMsg </code> - <strong><code></code></strong><strong><code>Server Mod </code></strong><strong><code></code></strong>Allows you to toggle the join message in the server.</li>
  <ul>
  </ul>

  <li><code>setJoinMessageChannel | setJoinMsgChannel | setJoinMsgChan &lt;channel&gt;</code> - <strong><code></code></strong><strong><code>Server Mod </code></strong><strong><code></code></strong>Allows you to set the channel that the Join Messages are sent in.</li>
  <ul>
  </ul>

  <li><code>setLevel | setLvl &lt;level&gt; &lt;member...&gt;</code> - <strong><code></code></strong><strong><code>Server Mod </code></strong><strong><code></code></strong>Allows you to set the level of a member, or members, in the server.</li>
  <ul>
  </ul>

  <li><code>addPrefix | addPre &lt;prefix&gt;</code> - <strong><code></code></strong><strong><code>Server Mod </code></strong><strong><code></code></strong>Allows you to add a prefix for this server.</li>
  <ul>
  </ul>

  <li><code>removePrefix | removePre | remPre &lt;prefix&gt;</code> - <strong><code></code></strong><strong><code>Server Mod </code></strong><strong><code></code></strong>Allows you to remove a prefix from this server.</li>
  <ul>
  </ul>

  <li><code>setServerName | setSvrName &lt;name&gt;</code> - <strong><code></code></strong><strong><code>Server Mod </code></strong><strong><code></code></strong>Allows you to set the Server's name.</li>
  <ul>
  </ul>

  <li><code>createInvite | createServerInvite | getInvite | getServerInvite [infinite]</code> - <strong><code></code></strong><strong><code>Server Mod </code></strong><strong><code></code></strong>Allows you to create an invite to this server.</li>
  <ul>
  <li>Accepted Parameters for <code>infinite</code>
</li>
    <ul>
      <li><code>True | true | T | t | Yes | yes | Y | y</code> - Set the server invite to never expire.</li>
      <li><code>False | false | F | f | No | no | N | n</code> - Set the server invite to expire.</li>
    </ul>
  </ul>

  <li><code>addRole &lt;name&gt; [colour]</code> - <strong><code></code></strong><strong><code>Server Mod </code></strong><strong><code></code></strong>Adds a role to the server.</li>
  <ul>
  </ul>

  <li><code>removeRole &lt;name&gt;</code> - <strong><code></code></strong><strong><code>Server Mod </code></strong><strong><code></code></strong>Removes a role from the server.</li>
  <ul>
  </ul>

  <li><code>kickMember | kickMbr &lt;member(s)...&gt;</code> - <strong><code></code></strong><strong><code>Server Mod </code></strong><strong><code></code></strong>Kicks a member, or members, from the server.</li>
  <ul>
  </ul>

  <li><code>banMember | banMbr &lt;member(s)...&gt;</code> - <strong><code></code></strong><strong><code>Server Mod </code></strong><strong><code></code></strong>Bans a member, or members, from the server.</li>
  <ul>
  </ul>

  <li><code>addMemberRole | addMbrRole | giveRole &lt;member&gt; &lt;role(s)...&gt;</code> - <strong><code></code></strong><strong><code>Server Mod </code></strong><strong><code></code></strong>Gives a member the mentioned role(s).</li>
  <ul>
  </ul>

  <li><code>removeMemberRole | removeMbrRole | takeRole &lt;member&gt; &lt;role(s)...&gt;</code> - <strong><code></code></strong><strong><code>Server Mod </code></strong><strong><code></code></strong>Removes the mentioned role(s) from a member.</li>
  <ul>
  </ul>

  <li><code>setMemberRoles | setMbrRoles | setRoles &lt;member&gt; &lt;role(s)...&gt;</code> - <strong><code></code></strong><strong><code>Server Mod </code></strong><strong><code></code></strong>Sets the roles for a member.</li>
  <ul>
  </ul>

</ul>

<a name="bot-moderator"></a>
<h2>Bot Moderator</h2>
  <p><em>Very private stuff.</em></p>
  <p style="color:#FF5555"><strong>You must be a Bot Moderator to run these commands.</strong></p>
  <p style="color:#FF5555"><strong><em></em></strong></p>
  <p style="color:#FF5555"><strong><em></em></strong></p>
<ul>
  <li><code>addBotModerator | addBotMod | abm &lt;member(s)...&gt;</code> - <strong><code></code></strong><strong><code></code></strong><strong><code>Bot Mod </code></strong>Allows you to add a bot moderator to the bot.</li>
  <ul>
  </ul>

  <li><code>removeBotModerator | removeBotMod | remBotMod | rbm &lt;member(s)...&gt;</code> - <strong><code></code></strong><strong><code></code></strong><strong><code>Bot Mod </code></strong>Allows you to remove a bot moderator from the bot.</li>
  <ul>
  </ul>

  <li><code>activateGlobally | enableGlobally &lt;command(s)&gt;</code> - <strong><code></code></strong><strong><code></code></strong><strong><code>Bot Mod </code></strong>Allows you to activate a command, or commands, globally.</li>
  <ul>
  </ul>

  <li><code>deactivateGlobally | disableGlobally &lt;command&gt; [reason]</code> - <strong><code></code></strong><strong><code></code></strong><strong><code>Bot Mod </code></strong>Allows you to deactivate a command globally.</li>
  <ul>
  </ul>

  <li><code>botInfo | bi </code> - <strong><code></code></strong><strong><code></code></strong><strong><code>Bot Mod </code></strong>Allows you to get the info about the bot.</li>
  <ul>
  </ul>

  <li><code>servers | botServers [markdown]</code> - <strong><code></code></strong><strong><code></code></strong><strong><code>Bot Mod </code></strong>Allows you to get a list of servers the bot is in.</li>
  <ul>
  </ul>

  <li><code>setStatus | status &lt;activity&gt; &lt;text&gt;</code> - <strong><code></code></strong><strong><code></code></strong><strong><code>Bot Mod </code></strong>Allows you to change the presence of the bot.</li>
  <ul>
  <li>Accepted Parameters for <code>activity</code>
</li>
    <ul>
      <li><code>playing | Playing</code> - The playing activity type.</li>
      <li><code>streaming | Streaming</code> - The streaming activity type.</li>
      <li><code>listening | Listening | listening to | Listening to</code> - The listening activity type.</li>
      <li><code>watching | Watching</code> - The watching activity type.</li>
    </ul>
  </ul>

  <li><code>todo [action] [item]</code> - <strong><code></code></strong><strong><code></code></strong><strong><code>Bot Mod </code></strong>Adds, removes, or lists things in the TODO list.</li>
  <ul>
  <li>Accepted Parameters for <code>action</code>
</li>
    <ul>
      <li><code>add | a</code> - Adds something to the TODO list.</li>
      <li><code>remove | r</code> - Removes something from the TODO list.</li>
    </ul>
  </ul>

  <li><code>stop | quit | kill </code> - <strong><code></code></strong><strong><code></code></strong><strong><code>Bot Mod </code></strong>Kills the bot.</li>
  <ul>
  </ul>

  <li><code>debug </code> - <strong><code></code></strong><strong><code></code></strong><strong><code>Bot Mod </code></strong>Debugs the bot.</li>
  <ul>
  </ul>

</ul>

