
<html>

    
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles.css" rel="stylesheet" type="text/css">

    
    <meta property="theme-color" content="#EC7600" />
    <meta property="og:title" content="website.privacypolicy();" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://omegapsi.fellowhashbrown.com/" />
    <meta property="og:image" content="https://i.imgur.com/Hy5Gyut.png" />

    <meta property="og:description" content="Privacy Policy for Fellow Hashbrown" />
    <meta property="og:site_name" content="Privacy Policy" />
    <title>Privacy Policy</title>
    

    <link rel="shortcut icon" href="{{ url_for('static', filename='/favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='/safari-pinned-tab.svg') }}" color="#202020">
    <meta name="msapplication-TileColor" content="#202020">
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='/mstile-144x144.png') }}">
    <meta name="theme-color" content="#202020">
    <meta name="msapplication-config" content="{{ url_for('static', filename='/browserconfig.xml') }}">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="/static/js/bugs.js"></script>
    <script src="/static/js/suggestions.js"></script>
    <script src="/static/js/settings.js"></script>
    <script src="/static/js/pendingUpdate.js"></script>
    <script src="/static/js/fileChanges.js"></script>
    <script src="/static/js/tasks.js"></script>

</head>


    <body>
        <div class="page-body">

            <!-- Navigation Bar -->
            <nav class="nav-bar">
                <img src="https://i.imgur.com/Hy5Gyut.png" class="social-image" style="width: 50px; height: 50px;">
                <div id="nav-toggle">
                    <input type="checkbox">
                    <span></span>
                    <span></span>
                    <span></span>
                    
                    <ul class="nav-links">
                        
                <li class="nav-item">
                    <a class="nav-link" href="/">commands</a>
                </li>

                
                <li class="nav-item">
                    <a class="nav-link" href="/info">info</a>
                </li>

                
                <li class="nav-item">
                    <a class="nav-link" href="/settings">settings</a>
                </li>

                
                    </ul>
                </div>
            </nav>

            <!-- Content -->
            <div class="content">
                
                <h1 class="page-title">
                    <span class="section-name"><code class="field">website</code><code>.</code></span><code class="field">privacyPolicy</code><code>();</code>
                </h1>

                <div class="page-title-block" style="max-width: 75%;">
                    <p style="text-align: center;">
                        
                    At Fellow Hashbrown, accessible from 
                    <a href="https://fellowhashbrown.com" class="link" target="_blank">https://fellowhashbrown.com</a>, 
                    one of our main priorities is the privacy of our visitors. 
                    This Privacy Policy document contains types of information that is collected and 
                    recorded by Fellow Hashbrown and how we use it. <br><br>

                    If you have additional questions or require more information 
                    about our Privacy Policy, do not hesitate to contact us.<br><br>

                    This Privacy Policy applies only to our online activities and 
                    is valid for visitors to our website with regards to the 
                    information that they shared and/or collect in Fellow Hashbrown. 
                    This policy is not applicable to any information collected offline 
                    or via channels other than this website.
                    
                    </p>
                </div>

                
                <h2 class="page-section">
                    <a name="consent"></a>
                    consent
                </h2>
                <div class="page-section-block" style="text-align: center;">
                    <p style="text-align: left;">
                        By using our website, you hereby consent to our Privacy Policy and agree to its terms.
                    </p>
                    
            <ul style="text-align: left; list-style-type: none; width: 100%;">
                
            </ul>
            
                </div>
                

                <h2 class="page-section">
                    <a name="information we collect"></a>
                    information we collect
                </h2>
                <div class="page-section-block" style="text-align: center;">
                    <p style="text-align: left;">
                        
                            The personal information that you are asked to provide, and the reasons why 
                            you are asked to provide it, will be made clear to you at the point we ask 
                            you to provide your personal information.

                            If you contact us directly, we may receive additional information about you 
                            such as your name, email address, phone number, the contents of the message 
                            and/or attachments you may send us, and any other information you may choose 
                            to provide.

                            When you register for an Account, we may ask for your contact information, 
                            including items such as name, company name, address, email address, 
                            and telephone number.
                            
                    </p>
                    
            <ul style="text-align: left; list-style-type: none; width: 100%;">
                
            </ul>
            
                </div>
                

                <h2 class="page-section">
                    <a name="how we use your information"></a>
                    how we use your information
                </h2>
                <div class="page-section-block" style="text-align: center;">
                    <p style="text-align: left;">
                        
                            We use the information we collect in various ways, including to:

                            <ul style="text-align: left;">
                                <li> Provide, operate, and maintain our website </li>
                                <li> Improve, personalize, and expand our website </li>
                                <li> Understand and analyze how you use our website </li>
                                <li> Develop new products, services, features, and functionality </li>
                                <li> Communicate with you, either directly or through one of our partners, 
                                including for customer service, to provide you with updates and other 
                                information relating to the webste, and for marketing and promotional 
                                purposes </li>
                                <li> Send you emails </li>
                                <li> Find and prevent fraud </li>
                            </ul>
                            
                    </p>
                    
            <ul style="text-align: left; list-style-type: none; width: 100%;">
                
            </ul>
            
                </div>
                

                <h2 class="page-section">
                    <a name="log files"></a>
                    log files
                </h2>
                <div class="page-section-block" style="text-align: center;">
                    <p style="text-align: left;">
                        
                            Fellow Hashbrown follows a standard procedure of using log files. 
                            These files log visitors when they visit websites. 
                            All hosting companies do this and a part of hosting services' analytics. 
                            The information collected by log files include internet protocol (IP) addresses, 
                            browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, 
                            and possibly the number of clicks. These are not linked to any information that is personally 
                            identifiable. The purpose of the information is for analyzing trends, 
                            administering the site, tracking users' movement on the website, and 
                            gathering demographic information. <br><br>
                            
                            Our Privacy Policy was created with the help of the 
                            <a href="https://www.privacypolicygenerator.info/" class="link" target="_blank">Privacy Policy Generator</a> and the 
                            <a href="https://www.privacypolicytemplate.net/" class="link" target="_blank">Privacy Policy Template</a>.
                            
                    </p>
                    
            <ul style="text-align: left; list-style-type: none; width: 100%;">
                
            </ul>
            
                </div>
                

                <h2 class="page-section">
                    <a name="cookies and web beacons"></a>
                    cookies and web beacons
                </h2>
                <div class="page-section-block" style="text-align: center;">
                    <p style="text-align: left;">
                        
                            Like any other website, Fellow Hashbrown uses 'cookies'. These cookies are used to store 
                            information including visitors' preferences, and the pages on the website that the 
                            visitor accessed or visited. The information is used to optimize the users' experience by 
                            customizing our web page content based on visitors' browser type and/or other information.
                            
                    </p>
                    
            <ul style="text-align: left; list-style-type: none; width: 100%;">
                
            </ul>
            
                </div>
                

                <h2 class="page-section">
                    <a name="advertising partners privacy policies"></a>
                    advertising partners privacy policies
                </h2>
                <div class="page-section-block" style="text-align: center;">
                    <p style="text-align: left;">
                        
                            You may consult this list to find the Privacy Policy for each of the 
                            advertising partners of Fellow Hashbrown.

                            Third-party ad servers or ad networks uses technologies like cookies, 
                            JavaScript, or Web Beacons that are used in their respective advertisements 
                            and links that appear on Fellow Hashbrown, which are sent directly to users' browser. 
                            They automatically receive your IP address when this occurs. 
                            These technologies are used to measure the effectiveness of their advertising campaigns 
                            and/or to personalize the advertising content that you see on websites that you visit.

                            Note that Fellow Hashbrown has no access to or control over these cookies that are 
                            used by third-party advertisers.
                            
                    </p>
                    
            <ul style="text-align: left; list-style-type: none; width: 100%;">
                
            </ul>
            
                </div>
                

                <h2 class="page-section">
                    <a name="third party privacy policies"></a>
                    third party privacy policies
                </h2>
                <div class="page-section-block" style="text-align: center;">
                    <p style="text-align: left;">
                        
                            Fellow Hashbrown's Privacy Policy does not apply to other advertisers or websites. 
                            Thus, we are advising you to consult the respective Privacy Policies of these third-party 
                            ad servers for more detailed information. It may include their practices and instructions 
                            about how to opt-out of certain options.

                            You can choose to disable cookies through your individual browser options. 
                            To know more detailed information about cookie management with specific web browsers, 
                            it can be found at the browsers' respective websites.
                            
                    </p>
                    
            <ul style="text-align: left; list-style-type: none; width: 100%;">
                
            </ul>
            
                </div>
                

                <h2 class="page-section">
                    <a name="ccpa privacy rights (do not sell my personal information)"></a>
                    ccpa privacy rights (do not sell my personal information)
                </h2>
                <div class="page-section-block" style="text-align: center;">
                    <p style="text-align: left;">
                        
                            Under the CCPA, among other rights, California consumers have the right to:

                            <ul style="text-align: left;">
                                <li> Request that a business that collects a consumer's personal data 
                                disclose the categories and specific pieces of personal data that a 
                                business has collected about consumers. </li>

                                <li> Request that a business delete any personal data about the consumer 
                                that a business has collected. </li>

                                <li> Request that a business that sells a consumer's personal data, 
                                not sell the consumer's personal data. </li>

                                <li> If you make a request, we have one month to respond to you. 
                                If you would like to exercise any of these rights, please contact us. </li>
                            </ul>
                            
                    </p>
                    
            <ul style="text-align: left; list-style-type: none; width: 100%;">
                
            </ul>
            
                </div>
                

                <h2 class="page-section">
                    <a name="gdpr data protection rights"></a>
                    gdpr data protection rights
                </h2>
                <div class="page-section-block" style="text-align: center;">
                    <p style="text-align: left;">
                        
                            We would like to make sure you are fully aware of all of your data protection rights. 
                            Every user is entitled to the following:

                            <ul style="text-align: left;">
                                <li> The right to access – You have the right to request copies 
                                of your personal data. We may charge you a small fee for this service. </li> 

                                <li> The right to rectification – You have the right to request 
                                that we correct any information you believe is inaccurate. 
                                You also have the right to request that we complete the information you 
                                believe is incomplete. </li> 

                                <li> The right to erasure – You have the right to request that we 
                                erase your personal data, under certain conditions. </li> 

                                <li> The right to restrict processing – You have the right to request 
                                that we restrict the processing of your personal data, 
                                under certain conditions. </li> 

                                <li> The right to object to processing – You have the right to object to our 
                                processing of your personal data, under certain conditions. </li> 

                                <li> The right to data portability – You have the right to request that we 
                                transfer the data that we have collected to another organization, 
                                or directly to you, under certain conditions. </li> 
                            </ul>
                            If you make a request, we have one month to respond to you. 
                            If you would like to exercise any of these rights, please contact us.
                            
                    </p>
                    
            <ul style="text-align: left; list-style-type: none; width: 100%;">
                
            </ul>
            
                </div>
                

                <h2 class="page-section">
                    <a name="children's information"></a>
                    children's information
                </h2>
                <div class="page-section-block" style="text-align: center;">
                    <p style="text-align: left;">
                        
                            Another part of our priority is adding protection for children while using the 
                            internet. We encourage parents and guardians to observe, participate in, 
                            and/or monitor and guide their online activity.

                            Fellow Hashbrown does not knowingly collect any Personal Identifiable 
                            Information from children under the age of 13. If you think that your child 
                            provided this kind of information on our website, we strongly encourage you to 
                            contact us immediately and we will do our best efforts to promptly remove such 
                            information from our records.
                            
                    </p>
                    
            <ul style="text-align: left; list-style-type: none; width: 100%;">
                
            </ul>
            
                </div>
                


                <br>
                <br>
                
            </div>
        </div>
    </body>
    <footer class="footer">
        <p style="text-align: center;"><a href="/privacyPolicy" class="link" style="font-family: cutive mono, monospace;">privacy policy</a> | <a href="/developer" class="link" style="font-family: cutive mono, monospace;">devs</a><small style="background: #202020;"><code>Copyright &copy; 2018<script>new Date().getFullYear()>2018&&document.write("-"+new Date().getFullYear());</script>, Jonah Pierce</code></small></p>

    </footer>
</html>
